.sign-in-form, .sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.password-strength {
  font-size: 12px;
  margin-top: 3px;
}

.password-strength.weak {
  color: red;
}

.password-strength.moderate {
  color: orange;
}

.password-strength.strong {
  color: green;
}


.title {
  margin-bottom: 25px;
}

.sign-in-bttn {
  margin-top: 25px;
}

.center-content {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.options-group {
  margin-bottom: 5px;
}

.form-p, .Select {
  font-size: 14px;
}

select {
  height: 50%;
  margin-left: 10px;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #777;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

input {
  width: 100%;
  padding: 10px 10px 10px 0px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #777; 
  font-size: 16px;
}

input[type="radio"] {
  transform: scale(0.75);
}

input::placeholder {
  color: #777;
}

button {
  background-color: #D35831;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #c14621;
}

@media screen and (max-width: 768px) {
  .sign-in-form {
    padding: 20px;
  }

  .error-message {
    font-size: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  select {
    font-size: 14px;
  }

  input {
    font-size: 14px;
  }

  .sign-in-bttn {
    text-align: center;
    margin-top: 15px;
  }
}