.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; 
  background-color: transparent; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #dad7d7;
  cursor: pointer;
  font-size: 18PX;
}
